.matrix-input {
	margin-top: 2rem;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

%buttons {
	cursor: pointer;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 5px;
}

.input-buttons {
	display: flex;
	gap: 1rem;

	&__clean {
		@extend %buttons;
		background-color: white;
		border: 1px solid var(--clean-button-color);
	}

	&__submit {
		@extend %buttons;
		border: none;
		color: white;
		background-color: var(--submit-button-color);

		&:hover {
			background-color: var(--submit-button-color-hover);
		}
	}
}
