:root {
	--submit-button-color: #0284c7;
	--submit-button-color-hover: #38bdf8;
	--error-color: #dc2626;
	--clean-button-color: #020617;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
